---
import ColorBar from "../../components/ColorBar.astro";
import Container from "../../components/Container.astro";
import HappyFace from "../../components/icons/HappyFace.astro";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import NavigationClick from "../../components/NavigationClick.astro";
import FirstHeart from "../../components/icons/FirstHeart.astro";
import SecondHeart from "../../components/icons/SecondHeart.astro";
import ThirdHeart from "../../components/icons/ThirdHeart.astro";

const BG_COLOR = "bg-[#F9B8D4]";
---

<Layout title="July Photos">
  <NavigationClick previous="/july" next="/august" />
  <Container>
    <Header title="JULIO" titleColor="text-[#0F141A]" color={BG_COLOR} />

    <section
      class="grid grid-cols-1 grid-rows-[180px_150px_100px_100px] justify-items-center"
    >
      <div
        class="grid grid-cols-[30px_1fr] grid-rows-[30px_1fr] absolute left-16 top-64"
      >
        <FirstHeart
          class="animate-fade"
          style="animation-delay: 2.5s; animation-fill-mode: both;"
        />
        <SecondHeart
          class="mt-4 animate-fade"
          style="animation-delay: 2.8s; animation-fill-mode: both;"
        />
        <ThirdHeart
          class="animate-fade"
          style="animation-delay: 3s; animation-fill-mode: both;"
        />
      </div>
      <img
        class="-mr-28 animate-fade"
        src="images/july/Group 25.png"
        alt="group 25"
        style="animation-delay: 0.5s; animation-fill-mode: both;"
      />
      <img
        class="-ml-32 animate-fade"
        src="images/july/Group 27.png"
        alt="group 27"
        style="animation-delay: 1s; animation-fill-mode: both;"
      />
      <div class="-mr-28">
        <ColorBar
          class="h-auto text-center py-2 absolute top-[53%] right-12 animate-fade z-20"
          color={BG_COLOR}
          style="animation-delay: 2s; animation-fill-mode: both;"
        >
          <p class="font-light text-xl text-[#1A2F45]">Got Barbie'd Kenergy</p>
        </ColorBar>
        <img
          class="animate-fade"
          src="images/july/Group 28.png"
          alt="group 28"
          style="animation-delay: 1.5s; animation-fill-mode: both;"
        />
      </div>
      <img
        class="-ml-28 animate-fade -z-20"
        src="images/july/Group 29.png"
        alt="group 29"
        style="animation-delay: 2s; animation-fill-mode: both;"
      />

      <HappyFace
        class="absolute bottom-16 right-24 animate-fade"
        style="animation-delay: 2.2s; animation-fill-mode: both;"
      />
    </section>
  </Container>
</Layout>
