---
import Layout from "../../layouts/Layout.astro";
import NavigationClick from "../../components/NavigationClick.astro";
import Container from "../../components/Container.astro";
---

<Layout title="October">
  <NavigationClick previous="/september-photos" next="/october-photos" />
  <Container>
    <section class="grid place-items-center items-end">
      <div class="relative">
        <div class="absolute left-10 top-14">
          <p
            class="text-xl ml-7 animate-fadeDown"
            style="animation-delay: 0.5s; animation-fill-mode: both;"
          >
            (Good)
          </p>
          <h2
            class="text-[64px] animate-fadeUp -mt-6"
            style="animation-delay: 0.5s; animation-fill-mode: both;"
          >
            Karma
          </h2>
        </div>
      </div>

      <img
        class="absolute bottom-0 left-0 right-0 -z-10"
        src="images/october/Group 98.png"
        alt="group 98"
      />
    </section>
  </Container>
</Layout>
