---
import ColorBar from "./ColorBar.astro";

const { color, title, titleColor, class: classes } = Astro.props;
---

<header>
  <h2 class=`text-[64px] ml-3 ${titleColor} ${classes}`>{title}</h2>
  <ColorBar class="-mt-12" color={color} />
</header>
