<section class="flex flex-col justify-center items-center">
  <h1 class="text-8xl">OUR ERAS</h1>
  <span class="text-4xl -mt-4">(Sam&Maria's version)</span>
  <span class="underline text-xl mt-10">tap through "The story of us"</span>
</section>
